

body{
  /*border-top: 5px solid red;
  border-bottom: 5px solid red ;*/
  height: 1000px;


}

.head-area{

}
.wrap-home{
 /* background-image: url("images/master_page_photo.jpg");
  background-size: cover;*/
  height: 900px;
  background-image: url("../images/master_page_photo.jpg");
  background-size: cover;
}
