.top-row {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-cell {
  position: relative;
  display: inline-block;
  width: 25vw;
  min-width: 300px;
  height: 120px;
  margin: 1vw;
  padding: 10px;
  border: 1px solid black;
}

img {
  float: left;
  clear: all;
  width: 5vw;
  margin-right: 10px;
  border: 1px solid black;
}

.contact-row {
  display: flex;
  margin-bottom: 20px;
  flex-flow: row wrap;
  justify-content: center;
}

.wrap-tasklist {
  width: 25vw;
  margin-right: 3vw;
  border: 1px solid black;
  flex: 0 1 auto;
}

.wrap-msg {
  width: 50vw;
  margin-left: 3vw;
  border: 1px solid black;
  flex: 0 2 auto;
}

.message-entry {
  width: 48vw;
  margin: 0 auto;
}

.notes-row {
  border: 1px solid black;
  margin: 0 auto;
  width: 81vw;
}
.notes-entry{
  width: 81vw;
}

button {
  margin-top: 20px;
  background-color: gray;
}
